{% extends "app/_base.html" %}
{% block title %}
User list
{% endblock %}

{% block content %}
{% if users %}
<section class="iwa-section">
    <h1 class="iwa-h1">User list
        {% if user.is_superuser %}
            <a type="button"  href="{% url 'user_create' %}"
                class="inline-block float-right max-w-xs w-12 h-12 mb-0 mt-0 mr-2 rounded-full bg-gray-900 focus:outline-none focus:ring-1 focus:ring-grey focus:ring-offset-2 focus:ring-offset-grey-800"
                id="create-new-user-button">
                <i class="fa fa-plus text-white text-center h-full w-full mt-3"></i>
            </a>
        {% endif %}
    </h1>
    
    <table class="iwa-table">
        <thead class="iwa-table-head">
            <tr class="border-b">
                <th class="iwa-table-head-cell">Username</th>
                <th class="iwa-table-head-cell">Email</th>
                <th class="iwa-table-head-cell">First name</th>
                <th class="iwa-table-head-cell">Last name</th>
                <th class="iwa-table-head-cell">Active</th>
                <th class="iwa-table-head-cell">Super User</th>
                <th class="iwa-table-head-cell">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr class="iwa-table-row">
                <td class="iwa-table-cell">{{ user.username }}</td>
                <td class="iwa-table-cell">{{ user.email }}</td>
                <td class="iwa-table-cell">{{ user.first_name }}</td>
                <td class="iwa-table-cell">{{ user.last_name }}</td>
                <td class="iwa-table-cell">
                    {% if user.is_active %}
                    <span class="fa fa-check"></span>
                    {% else %}
                    <span class="fa fa-xmark"></span>
                    {% endif %}
                </td>
                <td class="iwa-table-cell">
                    {% if user.is_superuser %}
                    <span class="fa fa-check"></span>
                    {% else %}
                    <span class="fa fa-xmark"></span>
                    {% endif %}
                <td class="iwa-table-cell">
                    <a href="{% url 'user_detail' user.id %}" class="iwa-btn mr-1">
                        View
                    </a>
                    <a href="{% url 'user_update' user.id %}" class="iwa-btn mr-1">
                        Edit
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endif %}
{% endblock %}