<!-- An update view of a single InventoryItem to view and change its attributes -->
{% extends "app/_base.html" %}
{% block title %}
Lend Detail
{% endblock %}

{% block content %}
<section class="iwa-section">

    <h1 class="iwa-h1">{{ lend }}</h1>
    {{lend.status }}
    <dl>
        <dd class="mb-4 font-light text-gray-500 sm:mb-5">{{ lend.description }}</dd>
    </dl>
    <dl class="flex items-center space-x-6 mb-8">
        <div>
            <dt class="mb-2 font-semibold leading-none text-gray-900">ID</dt>
            <dd class="mb-4 font-light text-gray-500 sm:mb-5">{{ lend.id }}</dd>
        </div>
        <div>
            <dt class="mb-2 font-semibold leading-none text-gray-900">User</dt>
            <a href="{% url 'user_detail' lend.user.id %}">
                <dd class="mb-4 font-light text-gray-500 sm:mb-5 cursor-pointer">{{ lend.user }}</dd>
            </a>
        </div>
        <div>
            <dt class="mb-2 font-semibold leading-none text-gray-900">Item</dt>
            <a href="{% url 'inventory_item_detail' lend.single_item.first.inventory_item.id %}">
                <dd class="mb-4 font-light text-gray-500 sm:mb-5">{{ lend.single_item.first.inventory_item.name }}</dd>
            </a>
        </div>
        <div>
            <dt class="mb-2 font-semibold leading-none text-gray-900">Timespan</dt>
            <dd class="mb-4 font-light text-gray-500 sm:mb-5">
                {{ lend.started_at|date:'d.m.Y' }} - {{lend.ended_at|date:'d.m.Y' }}</dd>
        </div>
        <div>
            <dt class="mb-2 font-semibold leading-none text-gray-900">Returned
            </dt>
            <dd class="mb-4 font-light text-gray-500 sm:mb-5">
                {% if lend.returned %}
                <span class="fa fa-check"></span>
                {% else %}
                <span class="fa fa-xmark"></span>
                {% endif %}
            </dd>
        </div>
        <div>
            <dt class="mb-2 font-semibold leading-none text-gray-900">Quantity</dt>
            <dd class="mb-4 font-light text-gray-500 sm:mb-5">{{ lend.single_item.all.count }}</dd>
        </div>

        <div>
            <dt class="mb-2 font-semibold leading-none text-gray-900">Receipt</dt>
            <dd class="mb-4 font-light text-gray-500 sm:mb-5">
                <a href="{% url 'lend_pdf' lend.id %}">
                    <i class="fa fa-file-pdf"></i>
                </a>
            </dd>
        </div>
        {% if lend.document %}   
        <div>
            <dt class="mb-2 font-semibold leading-none text-gray-900">Signed receipt</dt>
            <dd class="mb-4 font-light text-gray-500 sm:mb-5">
                <a href="{{ lend.document.url }}" target="_blank">
                    <i class="fa fa-file-pdf"></i>
                </a>
            </dd>
        </div>
        {% endif %}    

    </dl>
    <dl class="mb-8">
        <dt class="mb-2 font-semibold leading-none text-gray-900">Serial numbers</dt>
        {% for item in lend.single_item.all %}
        <dd class="mb-4 font-light text-gray-500 sm:mb-5 mr-2">
            <span class="fa text-xs mx-2">-</span> {{ item.serial_number }}
        </dd>
        {% endfor %}
    </dl>

    {% if not lend.document %}
    <dl class="mb-8">
        <dt class="mb-2 font-semibold leading-none text-gray-900">Signed receipt</dt>
        <dd>
            <!-- Form to upload a signed receipt -->
            <form action="{% url 'upload_signed_receipt' lend.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="signed_receipt" id="signed_receipt" class="iwa-btn">
                <button type="submit" class="iwa-btn">Upload</button>
            </form>
        </dd>
    </dl>
    {% endif %}
    {% if user.is_superuser %}
    <div class="flex items-center space-x-4">
        <a href="{% url 'lend_update' lend.id %}" class="iwa-btn">
            Edit
        </a>
        <a href="{% url 'lend_delete' lend.id %}" class="iwa-btn bg-red-600 hover:bg-red-700 ">
            Delete
        </a>
    </div>
    {% endif %}
</section>


{% endblock %}