@tailwind base;
@tailwind components;
@tailwind utilities;

.show {
    transform: opacity-100 scale-100;
    transition: ease-out duration-100;
    visibility: visible;
    opacity: 1;
  }
  
.hide {
    transform: opacity-0 scale-95;
    transition: ease-in duration-75;
    visibility: hidden;
    opacity: 0;
  }
  

  button.btn, button.iwa-btn, a.btn, a.iwa-btn {
    @apply text-gray-300 bg-[#696C7F] hover:bg-[#7D8394] px-3 py-2 rounded-md text-sm font-medium mt-4 cursor-pointer;
  }

  input.iwa-input {
    @apply shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;
  }

