{% extends "app/_base.html" %}

{% block title %}
Order Update
{% endblock %}

{% block content %}
<section class="iwa-section">
    <h1 class="iwa-h1">{{ method }} Order <span class="iwa-badge float-right"> ID: <span id="order-id">{{ pk }}</span></span></h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-6">
            <label class="block mb-2 text-sm font-medium text-gray-900" for="{{ field.auto_id }}">
                {{ field.label}}
            </label>
            {{ field }}
            <div hidden="true" class="mt-2" id="custom_{{ field.name }}"></div>
            {{ field.errors }}
        </div>
        {% endfor %}
        <div id="error-container"></div>
        <button class="iwa-btn" type="submit">Submit</button>
    </form>
</section>
{% load static %}
<script src="{% static 'js/order-update.js' %}"></script>
{% endblock %}