{% extends "app/_base.html" %}

{% block title %}
Order Update
{% endblock %}

{% block content %}
<h1 class="mb-6 text-xl font-bold">{{ method }} Order</h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-6">
        <label class="block mb-2 text-sm font-medium text-gray-900" for="{{ field.auto_id }}">{{ field.label }}</label>
        {{ field }}
        <div hidden="true" class="mt-2" id="custom_{{ field.name }}"></div>
        {{ field.errors }}
    </div>
    {% endfor %}
    <button class="iwa-btn" type="submit">Submit</button>
</form>

<script>

    /**
     * This is an example of how to add custom buttons to a date input field.
     */
    const createDateShortcut = (text, inputElement, dateOffset = {}, readFromInput) => {
        const link = document.createElement('span');
        link.innerText = text;
        dateOffset.year = dateOffset.year || 0;
        dateOffset.month = dateOffset.month || 0;
        dateOffset.day = dateOffset.day || 0;
        const date = readFromInput ? new Date(inputElement.value) : new Date();
        link.addEventListener('click', () => {
            const dateWithOffset = new Date(
                date.getFullYear() + dateOffset.year,
                date.getMonth() + dateOffset.month,
                date.getDate() + dateOffset.day,
                date.getHours(),
            );
            inputElement.value = dateWithOffset.toISOString().split('T')[0];
        });
        link.classList.add('iwa-badge');
        return link;
    }

    const startedAtButtons = document.getElementById('custom_started_at');
    const startedAtInput = document.getElementById('id_started_at');
    startedAtButtons.hidden = false

    startedAtButtons.appendChild(createDateShortcut('Today', startedAtInput, { year: 0, month: 0, day: 0 }));

    const endedAtButtons = document.getElementById('custom_ended_at');
    const endedAtInput = document.getElementById('id_ended_at');
    endedAtButtons.hidden = false

    const todayLinks = createDateShortcut('Today', endedAtInput, { year: 0, month: 0, day: 0 });
    todayLinks.classList.add('mr-2');

    const inOneWeekLinks = createDateShortcut('In One Week', endedAtInput, { year: 0, month: 0, day: 7 });
    inOneWeekLinks.classList.add('mr-2');

    const inOneMonthLinks = createDateShortcut('In One Month', endedAtInput, { year: 0, month: 1, day: 0 });

    endedAtButtons.appendChild(todayLinks);
    endedAtButtons.appendChild(inOneWeekLinks);
    endedAtButtons.appendChild(inOneMonthLinks);

    const urlSearchParams = new URLSearchParams(window.location.search);
    const params = Object.fromEntries(urlSearchParams.entries());
    console.log(params)

    const itemInput = document.getElementById('id_item');
    Array.from(itemInput.options).map(option => option.selected = (option.value === params.inventory_item));

    const userInput = document.getElementById('id_user');
    Array.from(userInput.options).map(option => option.selected = (option.value === params.user));

    if (params.now) {
        const now = new Date();
        startedAtInput.value = now.toISOString().split('T')[0];
        endedAtInput.value = now.toISOString().split('T')[0];
    }
</script>
{% endblock %}