{% extends "app/_base.html" %}

{% block title %} 
Orders list
{% endblock %} 

{% block content %} 
<section class="iwa-section">
    <h1 class="iwa-h1">Orders 
        {% if user.is_superuser %}
            <a type="button"  href="{% url 'order_create' %}"
                class="inline-block float-right max-w-xs w-12 h-12 mb-0 mt-0 mr-2 rounded-full bg-gray-900 focus:outline-none focus:ring-1 focus:ring-grey focus:ring-offset-2 focus:ring-offset-grey-800"
                id="create-new-item-button">
                <i class="fa fa-plus text-white text-center h-full w-full mt-3"></i>
            </a>
        {% endif %}
    </h1>
    
<h1 class="iwa-h1">
    Current orders
</h1>

<table class="iwa-table">
    <thead class="iwa-table-head">
        <tr>
            <th class="iwa-table-head-cell">User</th>
            <th class="iwa-table-head-cell">Item</th>
            <th class="iwa-table-head-cell">Quantity</th>
            <th class="iwa-table-head-cell">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for order in all %}

        <tr class="bg-white border-b">
            <td class="iwa-table-cell">{{ order.user }}</td>
            <td class="iwa-table-cell">{{ order.item }}</td>
            <td class="iwa-table-cell">{{ order.quantity }}</td>
            <td class="iwa-table-cell">
                <a href="{% url 'order_detail' order.id %}" class="iwa-btn mr-1">
                    View
                </a>
                <a href="{% url 'order_update' order.id %}" class="iwa-btn mr-1">
                    Edit
                </a>
                <a href="{% url 'order_update' order.id %}" class="iwa-btn bg-red-600 hover:bg-red-700 ">
                    Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h1 class="iwa-h1 mt-4">
    Past due orders
</h1>

<table class="iwa-table">
    <thead class="iwa-table-head bg-[#fca5a5]">
        <tr>
            <th class="iwa-table-head-cell">User</th>
            <th class="iwa-table-head-cell">Item</th>
            <th class="iwa-table-head-cell">Quantity</th>
            <th class="iwa-table-head-cell">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for order in past_due %}

        <tr class="bg-white border-b">
            <td class="iwa-table-cell">{{ order.user }}</td>
            <td class="iwa-table-cell">{{ order.item }}</td>
            <td class="iwa-table-cell">{{ order.quantity }}</td>
            <td class="iwa-table-cell">
                <a href="{% url 'order_detail' order.id %}" class="iwa-btn mr-1">
                    View
                </a>
                <a href="{% url 'order_update' order.id %}" class="iwa-btn mr-1">
                    Edit
                </a>
                <a href="{% url 'order_update' order.id %}" class="iwa-btn bg-red-600 hover:bg-red-700 ">
                    Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h1 class="iwa-h1 mt-4">
    Settled orders
</h1>

<table class="iwa-table">
    <thead class="iwa-table-head">
        <tr>
            <th class="iwa-table-head-cell">User</th>
            <th class="iwa-table-head-cell">Item</th>
            <th class="iwa-table-head-cell">Quantity</th>
            <th class="iwa-table-head-cell">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for order in settled %}

        <tr class="bg-white border-b">
            <td class="iwa-table-cell">{{ order.user }}</td>
            <td class="iwa-table-cell">{{ order.item }}</td>
            <td class="iwa-table-cell">{{ order.quantity }}</td>
            <td class="iwa-table-cell">
                <a href="{% url 'order_detail' order.id %}" class="iwa-btn mr-1">
                    View
                </a>
                <a href="{% url 'order_update' order.id %}" class="iwa-btn mr-1">
                    Edit
                </a>
                <a href="{% url 'order_update' order.id %}" class="iwa-btn bg-red-600 hover:bg-red-700 ">
                    Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</section>

{% endblock %}