{% extends "app/_base.html" %}
{% block title %}
Login
{% endblock %}
{% block content %}

<div class="bg-white w-full mx-auto max-w-sm p-4 rounded-md shadow-md sm:p-6 md:p-8 text-black">
  <h1 class="mb-4 text-xl font-medium text-ellipsis">Login</h1>
  <form method="post">
    {% csrf_token %}

    {% for field in form %}
    <div class="mb-4">

      {{field.type}}
        <span class="">{{ field.name }}</span>
        <input class="w-full iwa-input mt-2" id="{{ field.id_for_label }}" maxlength="30" name="{{ field.html_name }}" type="text" /> 
        {{ field.errors }}
    </div>
    {% endfor %}
    <button type="submit"
      class="iwa-btn w-full">
      Log In
    </button>
  </form>
</div>
{% endblock %}