{% extends "app/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<h2>List of inventory items</h2>
{% if inventory_items_list %}
<table class="inventory_items_list">
<thead>
<tr>
…
</tr>
</thead>
<tbody>
{% for inventory_item in inventory_items_list %}
<tr>
    <td>{{ inventory_item.name }}</td>
    <td>{{ inventory_item.description }}</td>
    <td>{{ inventory_item.quantity }}</td>
    <td>{{ inventory_item.position }}</td>
    <td>{{ inventory_item.producer }}</td>
    <td>{{ inventory_item.active }}</td>
    {% if inventory_item.image %}
        <td><img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" width="100" height="100"></td>
    {% else %}
        <td>No image</td>
    {% endif %}
    <!-- Button to unarchive an item, i.e. to change its 'active' attribute to True. Button only shows, when 'active' attribute is set to False. -->
    {% if not inventory_item.active %}
        <td><a href="{% url 'unarchive_inventory_item' inventory_item.id %}">Unarchive</a></td>
    {% endif %}
    <!-- Button to change the 'quantity' variable of the given inventory item to 0-->
    {% if inventory_item.active %}
    <td><a href="{% url 'archive_inventory_item' inventory_item.id %}">Archive</a></td>
    {% endif %}
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
    <p>No data found.</p>
{% endif %}
<!-- Button to show the complete list of inventory items, including the items whose 'active' variable is set to False -->
<a href="{% url 'complete_inventory_items_list' %}">Show all inventory items</a>
{% endblock %}