{% extends "app/_base.html" %}

{% block title %}
Inventory Item {{ method }}
{% endblock %}

{% block content %}
<section class="iwa-section">
    <h1 class="iwa-h1">{{ method }} Inventory Item</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-6">
            <label class="iwa-form-label" for="{{ field.auto_id }}">
                {{ field.label}}
            </label>
            {{ field }}
        </div>
        {% endfor %}
        {% for form in new_images %}
        <div class="form__field mb-6">
            <label class="iwa-form-label" for="formInput#text">
                {{ new_existing_image}}
            </label>
            {{ form }}
        </div>
        {% endfor %}
        <!-- Show existing images belonging to the inventory item -->
        <label class="iwa-form-label" for="formInput#text">
            {{ existing_images_label}}
        </label>
        <div class="mb-6 flex flex-row">
            {% for image in existing_images %}
            <div class="basis-1/6 mx-2">
                <img src="{{ image.image.url }}" alt="{{ image.image.name }}">
                <div>
                    <input type="checkbox" name="delete_image" value="{{ image.id }}">
                    <label class="text-sm font-medium text-gray-900" for="delete_image">Delete Image</label>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="mb-4">
            <button class="iwa-btn" type="submit">Submit</button>
            {% if inventory_item.active == True %}
            <button href="{% url 'archive_inventory_item' inventory_item.id %}" class="iwa-btn">Archive</button>
            {% else %}
            <button href="{% url 'unarchive_inventory_item' inventory_item.id %}" class="iwa-btn">Unarchive</button>
            {% endif %}
        </div>
    </form>
</section>
{% endblock %}