{% extends "app/_base.html" %}
{% load static %}

{% block title %}
Products
{% endblock %}

{% block content %}
{% if request.path == "/" %}
<div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="mb-8">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">The ICT Warrior Academy's inventory of great things</h2>
        <p class="text-gray-500 sm:text-xl">We've seen the Amazon, hitchhiked across the Galaxus and searched all Microspot's. What we found is in our basement.</p>
        <p class="text-gray-500 sm:text-xl">Simply the best.</p>
    </div>
    <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
        <div>
            <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12">
                <svg class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
            </div>
            <h3 class="mb-2 text-xl font-bold">Overview</h3>
            <p class="text-gray-500 dark:text-gray-400">See what you got: Never buy twice and quickly understand your resources.</p>
        </div>
        <div>
            <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12">
                <svg class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.394 2.08a1 1 0 00-.788 0l-7 3a1 1 0 000 1.84L5.25 8.051a.999.999 0 01.356-.257l4-1.714a1 1 0 11.788 1.838L7.667 9.088l1.94.831a1 1 0 00.787 0l7-3a1 1 0 000-1.838l-7-3zM3.31 9.397L5 10.12v4.102a8.969 8.969 0 00-1.05-.174 1 1 0 01-.89-.89 11.115 11.115 0 01.25-3.762zM9.3 16.573A9.026 9.026 0 007 14.935v-3.957l1.818.78a3 3 0 002.364 0l5.508-2.361a11.026 11.026 0 01.25 3.762 1 1 0 01-.89.89 8.968 8.968 0 00-5.35 2.524 1 1 0 01-1.4 0zM6 18a1 1 0 001-1v-2.065a8.935 8.935 0 00-2-.712V17a1 1 0 001 1z"></path></svg>
            </div>
            <h3 class="mb-2 text-xl font-bold">Rent</h3>
            <p class="text-gray-500 dark:text-gray-400">Share the resources with co-workers and fellow military people.</p>
        </div>
        <div>
            <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12">
                <svg class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 6V5a3 3 0 013-3h2a3 3 0 013 3v1h2a2 2 0 012 2v3.57A22.952 22.952 0 0110 13a22.95 22.95 0 01-8-1.43V8a2 2 0 012-2h2zm2-1a1 1 0 011-1h2a1 1 0 011 1v1H8V5zm1 5a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z" clip-rule="evenodd"></path><path d="M2 13.692V16a2 2 0 002 2h12a2 2 0 002-2v-2.308A24.974 24.974 0 0110 15c-2.796 0-5.487-.46-8-1.308z"></path></svg>                    
            </div>
            <h3 class="mb-2 text-xl font-bold">Return</h3>
            <p class="text-gray-500 dark:text-gray-400">Rest assured that everything you've given will be returned on time.</p>
        </div>
    </div>
</div>
{% endif %}



<div class="bg-white">
    <div class="mx-auto max-w-1xl py-16 px-2 sm:py-12 sm:px-6 lg:max-w-7xl lg:px-8">
        {% if request.path == "/" %}
        <h3 class="mt-0 mb-8 text-4xl text-gray-700 ">Inventory </h3>
        {% endif %}
        {% if request.path == "/inventory_item/complete" %}
        <h3 class="mt-0 mb-8 text-4xl text-gray-700 ">Inventory complete</h3>
        {% endif %}
        {% if request.path == "/inventory_item/" %}
        <h3 class="mt-0 mb-8 text-4xl text-gray-700 ">Inventory active</h3>
        {% endif %}
        {% if request.path == "/inventory_item/archive" %}
        <h3 class="mt-0 mb-8 text-4xl text-gray-700 ">Inventory archive</h3>
        {% endif %}
        
        {% if request.path == "/inventory_item/" %}
        <!-- PLussymbol to add Items-->
            <div class="flex justify-end on origin-top-right -mt-20 mb-8">
                {% if user.is_superuser %}
                <div class= "drop-shadow-lg" >
                    <a type="button"  href="{% url 'inventory_item_create' %}"
                        class="flex max-w-xs mb-8 -ml-0 rounded-full bg-gray-900 focus:outline-none focus:ring-1 focus:ring-grey focus:ring-offset-2 focus:ring-offset-grey-800"
                        id="create-new-item-button">
                        <img class="h-20 w-20 rounded-full" src="{% static '/images/symbols/add.png' %}" alt="">
                        <span class="sr-only">Create new Item</span>
                    </a>
                </div>
                {% endif %}
            </div>
        {% endif %}
        
        

        <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
            {% if inventory_items_list %}

            {% for inventory_item in inventory_items_list %}

            <div class="group">
                <div
                    class="aspect-w-1 aspect-h-1 w-64 h-64 overflow-hidden rounded-lg bg-gray-200 xl:aspect-w-7 xl:aspect-h-8">
                    {% if inventory_item.inventoryitemimage_set.all|length > 0 %}
                    <a href="{% url 'inventory_item_detail' inventory_item.pk %}">
                        <img src="{{ inventory_item.inventoryitemimage_set.all.0.image.url }}"
                            alt="{{ inventory_item.name }}"
                            class="h-full w-full object-cover object-center group-hover:opacity-75 overflow-hidden">
                    </a>
                    {% else %}
                    <a href="{% url 'inventory_item_detail' inventory_item.pk %}">
                        <img src="/static/images/noimageaviable/image.png" alt="{{ inventory_item.name }}"
                            class="h-full w-full object-cover object-center group-hover:opacity-75">
                    </a>
                    {% endif %}
                </div>

                <h3 class="mt-4 mb-4 text-sm text-gray-700 text-ellipsis overflow-hidden">{{ inventory_item.name }}</h3>

                <!-- Button that links to an object's detail view -->
                <a href="{% url 'inventory_item_detail' inventory_item.pk %}" class="btn">Detail</a>


            </div>

            {% endfor %}

            {% else %}
            <p>No data found.</p>
            {% endif %}
        </div>
    </div>
</div>



{% if user.is_superuser %}
<!-- Button to show the complete list of inventory items, including the items whose 'active' variable is set to False -->
{% if request.path == "/" %}
<div class="mt-5 mb-10 w-60">
    <a class="btn" href="{% url 'complete_inventory_items_list' %}">Show all inventory items</a>
</div>
{% endif %}

{% if request.path == "/inventory_item/" %}
<div class="mt-5 mb-10 w-60">
    <a class="btn" href="{% url 'complete_inventory_items_list' %}">Show all inventory items</a>
</div>
{% endif %}

{% if request.path == "/inventory_item/complete" %}
<div class="mt-5 mb-10 w-60">
    <a class="btn" href="{% url 'inventory_items' %}">Show only active inventory items</a>
</div>
{% endif %}
{% if request.path == "/inventory_item/archive" %}
<div class="mt-5 mb-10 w-60">
    <a class="btn" href="{% url 'complete_inventory_items_list' %}">Show all inventory items</a>
</div>
{% endif %}




{% endif %}


{% endblock %}