{% extends "app/_base.html" %}

{% block title %}
Inventory Item {{ method }}
{% endblock %}

{% block content %}
<section class="iwa-section">
    <h1 class="iwa-h1">{{ method }} Inventory Item</h1>

    <!-- Toggle modal -->
    <button data-modal-target="staticModal" data-modal-toggle="staticModal" class="iwa-btn my-6 mr-6 text-center" type="button">
        Let AI do the work
    </button>
    
    <!-- Main modal -->
    <div id="staticModal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
        <div class="relative w-full h-full max-w-2xl md:h-auto">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                        Take a picture of the item you want to add to the inventory
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="staticModal">
                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                    </button>
                </div>
                <form method="POST" action={% url 'image_upload' %} name="inputForm" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div>
                        <div id="camera" class="camera">
                            <video id="video">Video stream not available.</video>
                            <button id="startbutton" type="button">Take photo</button>
                            <input id="webimg" value="" name="webimg" type="text" style="display: none;">
                            <canvas id="canvas">
                            </canvas>
                        </div>
                        <br>
                        <div>
                            <img id="photo" alt="your image">
                        </div>
                    </div>
                    <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b">
                        <button type="submit" data-modal-hide="staticModal" class="iwa-btn button" id="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-6">
            <label class="iwa-form-label" for="{{ field.auto_id }}">
                {{ field.label}}
            </label>
            {{ field }}
        </div>
        {% endfor %}
        {% for form in new_images %}
        <div class="form__field mb-6">
            <label class="iwa-form-label" for="formInput#text">
                {{ new_existing_image}}
            </label>
            {{ form }}
        </div>
        {% endfor %}
        <!-- Show existing images belonging to the inventory item -->
        <label class="iwa-form-label" for="formInput#text">
            {{ existing_images_label}}
        </label>
        <div class="mb-6 flex flex-row">
            {% for image in existing_images %}
            <div class="basis-1/6 mx-2">
                <img src="{{ image.image.url }}" alt="{{ image.image.name }}">
                <div>
                    <input type="checkbox" name="delete_image" value="{{ image.id }}">
                    <label class="text-sm font-medium text-gray-900" for="delete_image">Delete Image</label>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="mb-4">
            <button class="iwa-btn" type="submit">Submit</button>
        </div>
    </form>
</section>
{% endblock %}